* {
	font-family: 'Roboto', sans-serif;
}

* :is(input, select, button, textarea, .btn) {
	border-radius: 0.15rem !important;
	box-shadow: none !important;
}

* :is(input, select, button, textarea, .btn):focus {
	border-color: #aaa;
}

* :is(h1, h2, h3, h4, h5, h6) {
	font-weight: 800;
	color: #000;
}
